# Build outputs
target/
out/
build/
.gradle/

# IDE
.idea/
*.iml
.classpath
.project
.settings/
.vscode/

# OS / misc
.DS_Store
Thumbs.db
hs_err_pid*.log

# Gradle
.gradle
**/build/
!src/**/build/
gradle-app.setting
!gradle-wrapper.jar
!gradle-wrapper.properties
.gradletasknamecache

# Kotlin
*.kotlin_module
*.kotlin_builtins

.fake